<div class="container">
    <h1>Appartements List</h1>
    <label for="search">Search Appartement By Surface : </label>
    <input type="number" id="search" [(ngModel)]="searchSurcace" >
    <div *ngFor="let a of appartementsList" >
        <div *ngIf="a.surface <= searchSurcace" >
            <p> <b>Terrasse : </b> {{ a.terrasse }}</p> 
            <p> <b>Surface : </b> {{ a.surface }}</p> 
            <button (click)="buyAppartement(a.id)" [disabled]="!a.status" class="btn btn-success" >Buy</button>
            <hr>
        </div>
    </div>
</div>