<div class="container">
    <h1>Appartement List</h1>
    <a routerLink="/appartement/add">Add Appartement</a>
    <div class="row">
      <app-appartement-card class="col-3 m-1" *ngFor="let a of appartementList" [appartement]="a" (deleteC)="deleteAppartement($event)"  ></app-appartement-card>
    </div>
</div>
<app-appartement-card style="display: none;" #appart ></app-appartement-card>
<div class="container">
  {{ appart.childText }}
  <button (click)="appart.childMethod()" class="btn btn-primary">Child Method</button>
</div>

<div class="container">
  {{ parentText }}
  <button (click)="parentMethod()" class="btn btn-success">Parent Method</button>
</div>